.git/
.idea/
.vs/
src/DebugToolsForJsonUtilities/bin/
src/DebugToolsForJsonUtilities/obj/
src/JsonUtilitiesSimple003.Tests/bin/
src/JsonUtilitiesSimple003.Tests/obj/
src/JsonUtilitiesSimple003_02/bin/
src/JsonUtilitiesSimple003_02/obj/
src/JsonUtilitiesSimple003.Tests/TestCreationFile/
JsonUtilitiesSimple003.sln.DotSettings.user
DemoJsonUtilitiesSimple/obj/Debug/net6.0/DemoJsonUtilitiesSimple.AssemblyInfoInputs.cache
DemoJsonUtilitiesSimple/obj/Debug/net6.0/DemoJsonUtilitiesSimple.assets.cache
DemoJsonUtilitiesSimple/obj/Debug/net6.0/DemoJsonUtilitiesSimple.csproj.AssemblyReference.cache
DemoJsonUtilitiesSimple/obj/Debug/net6.0/DemoJsonUtilitiesSimple.GeneratedMSBuildEditorConfig.editorconfig
DemoJsonUtilitiesSimple/obj/Debug/net6.0/.NETCoreApp,Version=v6.0.AssemblyAttributes.cs
DemoJsonUtilitiesSimple/obj/Debug/net6.0/DemoJsonUtilitiesSimple.AssemblyInfo.cs
DemoJsonUtilitiesSimple/obj/Debug/net6.0/DemoJsonUtilitiesSimple.GlobalUsings.g.cs
DemoJsonUtilitiesSimple/obj/DemoJsonUtilitiesSimple.csproj.nuget.dgspec.json
DemoJsonUtilitiesSimple/obj/DemoJsonUtilitiesSimple.csproj.nuget.g.props
DemoJsonUtilitiesSimple/obj/DemoJsonUtilitiesSimple.csproj.nuget.g.targets
DemoJsonUtilitiesSimple/obj/project.assets.json
DemoJsonUtilitiesSimple/obj/project.nuget.cache
DemoJsonUtilitiesSimple/obj/project.packagespec.json
DemoJsonUtilitiesSimple/obj/rider.project.restore.info
