.git/
.idea/
.vs/
src/DebugToolsForJsonUtilities/bin/
src/DebugToolsForJsonUtilities/obj/
src/JsonUtilitiesSimple003.Tests/bin/
src/JsonUtilitiesSimple003.Tests/obj/
src/JsonUtilitiesSimple003_02/bin/
src/JsonUtilitiesSimple003_02/obj/
JsonUtilitiesSimple003.sln.DotSettings.user
