.git/
.idea/
.vs/
src/DebugToolsForFileUtilitiesXT/bin/
src/DebugToolsForFileUtilitiesXT/obj/
src/Demo_FileUtilitiesXT/bin/
src/Demo_FileUtilitiesXT/obj/
src/FileUtilitiesXT.Tests/bin/
src/FileUtilitiesXT.Tests/obj/
src/FileUtilitiesXT/bin/
src/FileUtilitiesXT/obj/
src/FileUtilitiesXT.Tests/TestCreationFile/UnicornSecrets.txt
FileUtilitiesXT.sln.DotSettings.user
packages/
FileUtilitiesXT472.Tests/bin/
FileUtilitiesXT472.Tests/obj/
FileUtilitiesXT472.Tests/Properties/AssemblyInfo.cs
FileUtilitiesXT472.Tests/packages.config
FileUtilitiesXT472.Tests/App.config
FileUtilitiesXT472.Tests/App.config
